* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
}

header {
	background-image: url(green.jpg);
	height: 100vh;
	background-size: all;
	background-position: center;
}

#main {
	background: transparent;
	width: 100%;
	height: 50px;
}

#main .logo {
	float: left;
}

.logo {
	background: url(img/logo.png);
	width: 200px;
	height: 130px;
	background-position: center;
	background-size: cover;
	margin-left: 40px;
	margin-top: -25px;
	position: relative; bottom: 60px;
}

.text h1{
	font-size: 25px;
	position: relative;bottom: 150px; top: 90px; left: 50px; right: 10px;
	color: white;
	font-style: initial;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	border: dashed; 
	border-radius: 25px;
	width: 670px;
	background-color: #C87497;
}

.parents{
	width: 300px;
	position: relative; top:150px; bottom: 50px; left: 270px;
}

.brother{
	width: 300px;
	position: relative; top: 504px; bottom: 100px; right: 498px;
}

.me{
	width: 300px;
	position: relative; top: 504px; bottom: 100px; right: 2900px; right: 490px;
}

.yngr1{
	width: 300px;
	position: relative; top: 200px; bottom: 100px; left: 680px;
}

.yngr2{
	width: 300px;
	position: relative; top: 200px; bottom: 100px; left: 690px;
}