#main .logo {
	float: left;
}

.logo {
	background: url(img/logo.png);
	width: 200px;
	height: 130px;
	background-position: center;
	background-size: cover;
	margin-left: 40px;
	margin-top: -25px;
	position: relative; bottom:  20px;
}

.abt-me{
    width: 50px;
}
